.a1 {
    /* background-color: #f8d3d3; */
    margin-left: 50px;
}

.navbar-brand {
    color: #ffffff;
}

form {
    margin-left: 30px;
    margin-top: 20px;
}

body {
    background-color: #f8d3d3;
}
