{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- actionは指定しなくてもredirectで指定すれば動く -->
<form method="POST" action="/">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Create Todo">
</form>

{% for i in todo %}
<div class='a1'>
    <br>
    <p>title: {{i}}</p>
    <p>completed: {{i.completed}}</p>
    <!-- priorityの要素にアクセスできない -->
    <p>priority: {{i.priority}}</p>
    <a href="{% url 'update_todo' i.id %}">Update</a>
    <!-- <p>date: {{i.created}}</p> -->
    <br>
    <br>
</div>
{% endfor %}
{% endblock content %}
