{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//../../static/css/bootstrap/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//../../static/css/bootstrap/js/bootstrap.min.js"></script>
</head>

<!-- actionは指定しなくてもredirectで指定すれば動く -->
<form method="POST" action="/">
    {% csrf_token %}
    <div>
        <p>{{form.title}}</p>
        <p>progress {{form.progress}}</p>
        <p>importance {{form.importance}}</p>
        <p>motivation {{form.motivation}}</p>
        <input type="submit" name="Create Todo">
    </div>
</form>


{% for i in todo %}
<div class='a1'>
    {% if i.completed == True %}
    <strike>
        <br>
        {% if i.priority == 5 %}
        <p>
            ↓やばいよおおおおおおおおおおおおおおお
        </p>
        {% endif %}
        <p>title: {{i}}</p>
        <p>progress: {{i.progress}}</p>
        <p>importance: {{i.importance}}</p>
        <p>motivation: {{i.motivation}}</p>
        <!-- <p>priority: {{i.priority}}</p> -->
        <!-- priorityの要素にアクセスできない -->
        <!-- <p>priority: {{i.priority}}</p> -->
    </strike>
    {% else %}
    <span>
        <br>
        <!-- {% if i.priority == 5 %}
        <p>
            ↓やばいよおおおおおおおおおおおおおおお
        </p>
        {% endif %} -->
        <p>title: {{i}}</p>
        <p>progress: {{i.progress}}</p>
        <p>importance: {{i.importance}}</p>
        <p>motivation: {{i.motivation}}</p>
    </span>
    {% endif %}

    <a href="{% url 'update_todo' i.id %}">Update </a>
    <a href="{% url 'delete' i.id %}">Delete</a>
    <!-- <p>date: {{i.created}}</p> -->
    <br>
    <br>
</div>
{% endfor %}
{% endblock content %}
