{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- actionは指定しなくてもredirectで指定すれば動く -->
<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    {{form.priority}}
    <input type="submit" name="Create Todo">
</form>

{% for i in todo %}
<div class='a1'>
    {% if i.completed == True %}
    <strike>
        <br>
        {% if i.priority == 5 %}
        <p>
            ↓やばいよおおおおおおおおおおおおおおお
        </p>
        {% endif %}
        <p>title: {{i}}</p>
        <p>completed: {{i.completed}}</p>
        <!-- priorityの要素にアクセスできない -->
        <p>priority: {{i.priority}}</p>
    </strike>
    {% else %}
    <span>
        <br>
        {% if i.priority == 5 %}
        <p>
            ↓やばいよおおおおおおおおおおおおおおお
        </p>
        {% endif %}
        <p>title: {{i}}</p>
        <p>completed: {{i.completed}}</p>
        <!-- priorityの要素にアクセスできない -->
        <p>priority: {{i.priority}}</p>
    </span>
    {% endif %}

    <a href="{% url 'update_todo' i.id %}">Update </a>
    <a href="{% url 'delete' i.id %}">Delete</a>
    <!-- <p>date: {{i.created}}</p> -->
    <br>
    <br>
</div>
{% endfor %}
{% endblock content %}
