{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//../../static/css/bootstrap/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//../../static/css/bootstrap/js/bootstrap.min.js"></script>
</head>

<h3>進捗順でソートしました</h3>
<h3>全然進んでないじゃん！急げよ！！</h3>

<a href=" {% url 'list' %}">戻る</a>

{% for i in todo %}
<div class='a1'>
    {% if i.completed == True %}
    <strike>
        タスク: {{i}}
        進捗: {{i.progress}}
        重要度: {{i.importance}}
        モチベ: {{i.motivation}}
        <!-- <p>priority: {{i.priority}}</p> -->
        <!-- priorityの要素にアクセスできない -->
        <!-- <p>priority: {{i.priority}}</p> -->
    </strike>
    {% else %}
    <span>
        <br>
        <!-- {% if i.priority == 5 %}
        <p>
            ↓やばいよおおおおおおおおおおおおおおお
        </p>
        {% endif %} -->
        タスク: {{i}}
        進捗: {{i.progress}}
        重要度: {{i.importance}}
        モチベ: {{i.motivation}}
    </span>
    {% endif %}

    <a href="{% url 'update_todo' i.id %}">Update </a>
    <a href="{% url 'delete' i.id %}">Delete</a>
    <br>
    <br>
</div>
{% endfor %}


{% endblock content %}
