{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="text-align:center;">
<head>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//../../static/css/bootstrap/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//../../static/css/bootstrap/js/bootstrap.min.js"></script>
</head>

<h3>モチベ順でソートしました</h3>
<h3>モチベが無くてもやるんだよ！！！！</h3>

<a href=" {% url 'list' %}">戻る</a>


{% for i in todo %}
<div class='a1'>
    <div class="kani">
        <br>
        <img src="/../../static/images/list.png" width="750" height="75"></image>
        {% if i.completed == True %}
        <strike>
            <p class="title">{{i}}</p>
            <p class="progress2">進捗率: {{i.progress}}</p>
            <p class="importance">重要度: {{i.importance}}</p>
            <p class="motivation">モチベ: {{i.motivation}}</p>
            <!-- <p>priority: {{i.priority}}</p> -->
            <!-- priorityの要素にアクセスできない -->
            <!-- <p>priority: {{i.priority}}</p> -->
        </strike>
        {% else %}
        <span>
            <p class="title">{{i}}</p>
            <p class="progress2">進捗率: {{i.progress}}</p>
            <p class="importance">重要度: {{i.importance}}</p>
            <p class="motivation">モチベ: {{i.motivation}}</p>
            <!-- <p>priority: {{i.priority}}</p> -->
            <!-- priorityの要素にアクセスできない -->
            <!-- <p>priority: {{i.priority}}</p> -->
        </span>
        {% endif %}

        <p class="update"><a href="{% url 'update_todo' i.id %}">Update</a></p>
        <p class="delete"><a href="{% url 'delete' i.id %}">Delete</a></p>
        <!-- <p>date: {{i.created}}</p> -->
        <br>
    </div>
</div>
{% endfor %}


{% endblock content %}
</div>